@charset "UTF-8";
main, div, p {
  -ms-writing-mode: tb-rl;
  /* for IE. */ }

html {
  height: 100%;
  /* for firefox, safari. */ }

body {
  -webkit-writing-mode: vertical-rl;
  /* for safari. */
  -webkit-text-size-adjust: 100%;
  /* for code font size in ios(iphone) safari. */
  writing-mode: vertical-rl;
  margin: 0;
  width: 100%;
  /*  for firefox. */
  height: 100%;
  /* for firefox, safari. */
  overflow-y: hidden;
  /* for firefox. */ }

.runninghead-left,
.runninghead-right {
  font-size: 0.8em;
  line-height: 1;
  font-weight: normal;
  position: fixed;
  -webkit-writing-mode: horizontal-tb;
  /* Bug ios(iphone) */
  writing-mode: horizontal-tb; }

div.runninghead-right h1 span {
  -ms-writing-mode: tb-rl !important;
  /* for IE. */ }

.runninghead-left {
  top: 0;
  left: 0;
  margin: 1.5em 0 0 2em; }

.runninghead-right {
  top: 0;
  right: 0;
  margin: 1.5em 2em 0 0; }
  .runninghead-right strong {
    margin-left: 0.5em;
    font-weight: normal; }

main {
  padding: 3.5em 2em;
  background: url(../image/background2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

.page {
  max-height: 32em; }

@font-face {
  font-family: 'Yu Mincho Custom';
  src: local("Times New Roman"), local("Yu Mincho"), local("YuMincho"); }
@font-face {
  font-family: 'Yu Gothic Custom';
  src: local("Trebuchet MS"), local("Yu Gothic"), local("YuGothic"); }
@font-face {
  font-family: 'Vertical Mono';
  src: local("Consolas"), local("Courier New");
  /* for safari. */ }
p {
  font-family: 'Yu Mincho Custom', serif;
  font-size: 1em;
  /* font-feature-settings: 'halt', 'vhal'; */
  line-height: 1.8;
  text-indent: 1em;
  margin: 0;
  text-align: justify; }

p, figcaption {
  line-break: strict;
  text-justify: inter-character;
  overflow-wrap: break-word;
  hanging-punctuation: force-end; }

code, samp, .urn, .en,
figcaption {
  /* 今回、絵文字を連打しているのでfigcaptionも追加。*/
  word-break: break-all;
  /* 英単語が長い場合の対応のために。 */ }

.tcy {
  -ms-text-combine-horizontal: digits 2;
  text-combine-upright: all;
  text-combine-horizontal: digits 2; }

.emphasis {
  font-style: normal;
  -webkit-text-emphasis: filled;
  /* for chrome. */
  text-emphasis: filled;
  text-emphasis-position: over; }

a {
  text-underline-position: under right;
  text-decoration-skip: ink; }

.sideways {
  text-orientation: sideways;
  /* リンクでの適用がFirefoxでは下線がでなくなってしまうので、具体的な文字列に対して指定することに。 */ }

h1, h2, h3, h4, h6, li, dt, dd, figcaption {
  font-family: 'Yu Gothic Custom', 'Yu Gothic', 'YuGothic', sans-serif;
  line-height: 1.5; }

.ch2 {
  font-size: 1.3em;
  margin: 0 3em 0 1em;
  padding: 0 0.64em;
  letter-spacing: 0.05em;
  border-right: 0.1em solid #000;
  border-left: 0.1em solid #000;
  display: table;
  height: 100%; }

.ch2-label {
  -moz-text-combine-upright: all;
  text-combine-upright: all;
  display: table-cell;
  font-family: 'Times New Roman', serif;
  font-size: 1.8em;
  line-height: 1;
  height: 1em;
  padding: 0.4em 0;
  vertical-align: top; }

.ch2 strong {
  vertical-align: top;
  display: table-cell;
  text-align: justify;
  padding: 0.1em; }

.ch3 {
  font-size: 1.15em;
  margin: 0 2em 0 1em;
  border-top: 0.5em solid #666;
  padding: 0.5em 0.3em 0; }

img {
  max-width: 100vw;
  max-height: 100%; }

.bfl, pre {
  margin: 0 1.5em 0 0;
  max-height: 100%; }

.bfl + * {
  margin-right: 1.5em; }

pre + * {
  margin-right: 1.5em; }
pre > code {
  font-family: 'Vertical Mono', monospace;
  /* for sfarii */
  display: block;
  font-size: 0.9em;
  line-height: 1.67em;
  padding: 1.11em 0.84em;
  background: #DFDFDF;
  text-orientation: sideways;
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* for firefox */
  white-space: pre-wrap;
  /* for firefox, and line start prohibition of '"' in chrome */
  word-break: break-all; }

.img-wrap img {
  display: block; }

figcaption {
  display: block;
  font-size: 0.8em;
  margin-right: 0.35em;
  line-height: 1.4;
  text-align: justify; }

.fc-title {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.25em; }

.fc-ordinal {
  text-orientation: upright;
  text-combine-upright: all; }

@media screen and (min-height: 32em) {
  .image-sdl {
    -webkit-writing-mode: horizontal-tb;
    /* for safari. */
    writing-mode: horizontal-tb;
    display: table;
    border-collapse: collapse; }
    .image-sdl .img-wrap {
      display: table-cell;
      height: intrinsic;
      height: fit-content;
      min-width: -moz-calc(13.4em * 0.9); }
      .image-sdl .img-wrap img {
        max-width: 75vw;
        max-height: 75%;
        margin: 0 auto;
        max-height: -moz-calc(75vh - 6em - 0.5em); }
    .image-sdl figcaption {
      display: table-caption;
      caption-side: bottom;
      min-width: 13.4em;
      margin: 0.35em 0 0; }

  .image-sdl .fc-title, .tandem-sdl .fc-title {
    margin: 0 0.25em 0 0; } }
.tandem {
  height: 100%;
  border-collapse: collapse; }

.tandem-images {
  -webkit-writing-mode: horizontal-tb;
  /* for safari */
  writing-mode: horizontal-tb;
  display: table;
  margin-top: -1em;
  height: inherit;
  max-height: inherit; }

.tandem-image {
  display: table-row;
  width: -moz-min-content; }

.tandem .img-wrap {
  display: table-cell;
  height: intrinsic;
  height: fit-content;
  padding-top: 1em;
  width: -moz-min-content; }

.tandem .img-wrap img {
  max-height: calc(50% - 0.5em);
  max-height: -moz-calc(50vh - 3.5em - 0.5em - 0.5em); }

@media screen and (min-height: 32em) {
  .tandem-sdl {
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    max-height: 75%;
    display: table;
    border-collapse: collapse;
    margin-top: -1em; }
    .tandem-sdl .tandem-images {
      display: table-cell;
      min-width: -moz-calc(13.4em * 0.9);
      height: intrinsic;
      height: fit-content; }
    .tandem-sdl .tandem-image {
      display: block;
      margin: 0 auto; }
    .tandem-sdl .img-wrap {
      display: block; }
      .tandem-sdl .img-wrap img {
        margin: 0 auto;
        max-height: calc((50% * 100 / 75) - 0.5em - 0.5em);
        max-height: -moz-calc((50vh * 0.75) - 3.5em - 0.5em); }
    .tandem-sdl figcaption {
      display: table-caption;
      caption-side: bottom;
      min-width: 15em;
      margin: 0.35em 0 0; } }
.sidebyside-images,
.sidebyside-rtl-images {
  -webkit-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
  display: table;
  border-collapse: collapse; }

.sidebyside-image,
.sidebyside-rtl-image {
  display: table-cell; }
  .sidebyside-image:last-child,
  .sidebyside-rtl-image:last-child {
    padding-left: 1em; }

.sidebyside .img-wrap img,
.sidebyside-rtl .img-wrap img {
  max-width: calc(50vw - 1em); }

.sidebyside.sidebyside-with-fc .img-wrap img,
.sidebyside-sdl.sidebyside-with-fc .img-wrap img,
.sidebyside-rtl.sidebyside-with-fc .img-wrap img,
.sidebyside-rtl-sdl.sidebyside-with-fc .img-wrap img {
  max-width: calc(37.5vw - 1em); }

@media screen and (min-height: 32em) {
  .sidebyside-sdl,
  .sidebyside-rtl-sdl {
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    display: table;
    border-collapse: collapse; }
    .sidebyside-sdl .sidebyside-image,
    .sidebyside-sdl .sidebyside-rtl-images,
    .sidebyside-rtl-sdl .sidebyside-image,
    .sidebyside-rtl-sdl .sidebyside-rtl-images {
      display: table-cell; }
    .sidebyside-sdl.sidebyside-with-fc .img-wrap img,
    .sidebyside-rtl-sdl.sidebyside-with-fc .img-wrap img {
      max-width: calc(50vw - 1em); }
    .sidebyside-sdl figcaption,
    .sidebyside-rtl-sdl figcaption {
      display: table-caption;
      caption-side: bottom;
      margin: 0.25em 0 0; } }
.sidebyside-rtl-images {
  direction: rtl; }

.sidebyside-rtl-image:last-child {
  padding: 0 1em 0 0; }

.sidebyside-rtl .img-wrap,
.sidebyside-rtl figcaption {
  direction: ltr; }

.chh1 {
  margin: 0; }
  .chh1 + * {
    margin-right: 1.75em; }

.warning {
  margin: 0 1em;
  border: 0.1em solid #000;
  padding: 4em 1em 1em; }

.warning-title {
  margin: -4em 0 0.95em; }

.warning .joint {
  display: none; }

.zoom img {
  -ms-zoom: 0.5;
  zoom: 0.5; }

/*# sourceMappingURL=vertical.css.map */
