@charset "UTF-8";
@font-face {
  font-family: 'Yu Mincho Custom';
  src: local("Yu Mincho"), local("YuMincho"); }
@font-face {
  font-family: 'Yu Mincho Custom';
  src: local("Times New Roman");
  unicode-range: U+0-2FF; }
@font-face {
  font-family: 'Yu Gothic Custom';
  src: local("Yu Gothic"), local("YuGothic"); }
@font-face {
  font-family: 'Yu Gothic Custom';
  src: local("Trebuchet MS");
  unicode-range: U+0-2FF; }
@font-face {
  font-family: 'Vertical Mono';
  src: local("Consolas"), local("Menlo");
  /* for safari. */ }
html {
  height: 100%;
  /* for firefox, safari. */ }

body {
  -webkit-writing-mode: vertical-rl;
  /* for safari. */
  writing-mode: vertical-rl;
  width: -moz-calc(100vw);
  /*  for firefox. */
  height: 100%;
  /* for firefox, safari. */
  /* overflow-y: hidden; /* for firefox. */
  /* overflow: auto !important; /* for edge. */
  margin: 0; }

main, div, p {
  -ms-writing-mode: tb-rl;
  /* for IE. */ }

.runninghead-left,
.runninghead-right {
  font-size: 0.8em;
  line-height: 1;
  font-weight: normal;
  position: fixed;
  -webkit-writing-mode: horizontal-tb;
  /* for safari. */
  writing-mode: horizontal-tb; }

div.runninghead-right h1 span {
  -ms-writing-mode: tb-rl !important;
  /* for IE. */ }

.runninghead-left {
  top: 0;
  left: 0;
  margin: 1.5em 0 0 calc(2em / 0.8);
  font-family: 'Yu Guthic Custom', serif; }

.runninghead-right {
  top: 0;
  right: 0;
  margin: 1.5em calc(2em / 0.8) 0 0; }
  .runninghead-right strong {
    margin-left: 0.5em;
    font-weight: normal; }

main {
  padding: 3.5em 2em;
  background: url(../image/background2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

.page {
  background-size: 1.75em;
  max-height: 32em; }

p {
  font-family: 'Yu Mincho Custom', serif;
  font-size: 1em;
  line-height: 1.75;
  text-indent: 1em;
  margin: 0; }

p, li, dt, dd, figcaption {
  text-align: justify;
  text-justify: inter-character;
  line-break: strict;
  overflow-wrap: break-word;
  hanging-punctuation: force-end;
  /* future supported. */ }

code, samp, .url, :root:lang(en),
figcaption {
  /* 今回、絵文字を連打しているのでfigcaptionも追加。しかし縦中横を使うとChromeで挙動が怪しい。*/
  word-break: break-all;
  /* 英単語が長い場合の対応のために。 */ }

code, samp, var {
  font-family: 'Vertical Mono', monospace;
  /* for sfarii */
  -webkit-text-size-adjust: 100%;
  /* for code font size in ios(iphone) safari. */ }

p > code, p > samp, p > var {
  font-size: 0.9em;
  margin: 0.063em 0; }

.tcy,
.fc-ordinal {
  -webkit-text-combine: horizontal;
  /* for safari. */
  -ms-text-combine-horizontal: digits 2;
  /* for IE. */
  -moz-text-combine-upright: horizontal;
  /* for future firefox. */
  text-combine-upright: all;
  text-combine-upright: digits 2;
  /* text-transform: full-width; */ }

@supports not (text-combine-upright: all) {
  /* for safari. */
  .tcy {
    -webkit-text-orientation: upright;
    /* for safari '…'. But no effect. */
    text-orientation: upright;
    /* for firefox '…'. */ }

  .fc-ordinal {
    display: inline-block;
    -webkit-text-orientation: upright;
    text-orientation: upright; } }
.sideways {
  /* リンクでの適用がFirefoxでは下線がでなくなってしまうので、具体的な文字列に対して指定することに。 */
  -ms-text-orientation: sideways;
  text-orientation: sideways; }

.emphasis {
  font-style: normal;
  -webkit-text-emphasis: filled;
  /* for chrome. */
  text-emphasis: filled;
  text-emphasis-position: over; }

rt, rtc {
  font-variant-east-asian: ruby;
  -webkit-font-feature-settings: 'ruby';
  font-feature-settings: 'ruby'; }

rtc {
  ruby-position: under; }

@supports not (display: ruby-text-container) {
  /* for chrome. */
  rtc::before {
    display: inline;
    content: '\FE35'; }
  rtc::after {
    display: inline;
    content: '\FE36'; } }
.inline-ruby {
  display: inline;
  font-size: inherit;
  white-space: inherit;
  text-emphasis: inherit;
  font-variant-east-asian: inherit;
  -webkit-font-feature-settings: inherit;
  font-feature-settings: inherit; }
  .inline-ruby rt, .inline-ruby rp, .inline-ruby rtc {
    display: inline;
    font-size: inherit;
    white-space: inherit;
    text-emphasis: inherit;
    font-variant-east-asian: inherit;
    -webkit-font-feature-settings: inherit;
    font-feature-settings: inherit; }

a {
  text-underline-position: under right;
  text-decoration-skip: ink;
  /* future supperted. */ }

h1, h2, h3, h4, h6, li, dt, dd, figcaption, th, td {
  font-family: 'Yu Gothic Custom', sans-serif;
  line-height: 1.5; }

.ch2 {
  font-size: 1em;
  margin: 0 5em 0 2em;
  border-right: 0.125em solid #000;
  border-left: 0.125em solid #000;
  display: table;
  height: 100%; }
  .ch2 strong {
    font-size: 1.3125em;
    vertical-align: top;
    display: table-cell;
    text-align: justify;
    vertical-align: middle; }

.ch2-label {
  -moz-text-combine-upright: all;
  text-combine-upright: all;
  display: table-cell;
  font-family: 'Times New Roman', serif;
  font-size: 3em;
  line-height: 1;
  height: 1em;
  padding: 0.15em 0.5em 0.5em; }

.ch3 {
  font-size: 1.1875em;
  line-height: 1.5625;
  margin: 0 2.5em 0 1em;
  border-top: 0.5em solid #666;
  padding: 0.5em 0.5em 0; }

img {
  max-width: 100vw;
  max-height: 100%; }

.bfl, pre {
  margin: 0 1.5em 0 0;
  max-height: 100%; }

.bfl + * {
  margin-right: 1.5em; }

pre + * {
  margin-right: 1.5em; }
pre > code {
  display: block;
  font-size: 0.9em;
  line-height: 1.67em;
  padding: 1.11em 0.84em;
  background: #DFDFDF;
  text-orientation: sideways;
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* for firefox */
  white-space: pre-wrap;
  /* for firefox, and line start prohibition of '"' in chrome */
  word-break: break-all; }

.bfl figcaption {
  display: block;
  font-size: 0.8em;
  margin-right: 0.5em;
  line-height: 1.5;
  text-align: justify; }
.bfl .fc-title {
  font-weight: bold;
  margin-bottom: 0.25em; }

.img-wrap img {
  display: block; }

.image-fc .img-wrap img {
  max-width: 75vw; }

@media screen and (min-height: 32em) {
  .image-sdl {
    -webkit-writing-mode: horizontal-tb;
    /* for safari. */
    writing-mode: horizontal-tb;
    display: table;
    border-collapse: collapse; }
    .image-sdl .img-wrap {
      display: table-cell;
      height: intrinsic;
      /* for mobile safari. */
      height: fit-content;
      min-width: -moz-calc(13.4em * 0.8); }
      .image-sdl .img-wrap img {
        max-width: 100vw;
        max-height: 75%;
        max-height: -moz-calc(75vh - 6em - 0.5em);
        margin: 0 auto;
        /* in case width of caption is longer than image. */ }
    .image-sdl figcaption {
      display: table-caption;
      caption-side: bottom;
      min-width: 13.4em;
      margin: 0.35em 0 0; }
    .image-sdl .fc-title {
      margin: 0 0.25em 0 0; } }
.tandem {
  border-collapse: collapse; }

.tandem-images {
  -webkit-writing-mode: horizontal-tb;
  /* for safari */
  writing-mode: horizontal-tb;
  display: table;
  margin-top: -1em;
  max-height: inherit; }

.tandem-image {
  display: table-row;
  width: -moz-min-content; }

.tandem .img-wrap {
  display: table-cell;
  height: intrinsic;
  height: fit-content;
  padding-top: 1em; }
  .tandem .img-wrap img {
    max-width: 75vw;
    max-height: calc(50% - 0.5em);
    max-height: -moz-calc((100vh - 7em) * 0.5 - 0.5em); }

@media screen and (min-height: 32em) {
  .tandem-sdl {
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    max-height: 75%;
    display: table;
    border-collapse: collapse;
    margin-top: -1em; }
    .tandem-sdl .tandem-images {
      display: table-cell;
      min-width: -moz-calc(13.4em * 0.9);
      height: intrinsic;
      height: fit-content; }
    .tandem-sdl .tandem-image {
      display: block;
      margin: 0 auto; }
    .tandem-sdl .img-wrap {
      display: block; }
      .tandem-sdl .img-wrap img {
        margin: 0 auto;
        max-width: 100vw;
        max-height: calc(50% - 0.5em);
        max-height: -moz-calc((100vh - 7em) * 0.75 * 0.5 - 0.5em); }
    .tandem-sdl figcaption {
      display: table-caption;
      caption-side: bottom;
      min-width: 15em;
      margin: 0.35em 0 0; }
    .tandem-sdl .fc-title {
      margin: 0 0.25em 0 0; } }
.sidebyside-images {
  -webkit-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
  display: table;
  border-collapse: collapse; }

.sidebyside-image {
  display: table-cell; }
  .sidebyside-image:last-child {
    padding-left: 1em; }

.sidebyside .img-wrap img {
  max-width: calc(50vw - 1em); }

.sidebyside-fc .img-wrap img {
  max-width: calc(37.5vw - 1em); }

@media screen and (min-height: 32em) {
  .sidebyside-sdl {
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    display: table;
    border-collapse: collapse; }
    .sidebyside-sdl .sidebyside-image {
      display: table-cell; }
    .sidebyside-sdl.sidebyside-fc .img-wrap img {
      max-width: calc(50vw - 1em); }
    .sidebyside-sdl figcaption {
      display: table-caption;
      caption-side: bottom;
      margin: 0.25em 0 0; } }
.sidebyside-rtl {
  -webkit-writing-mode: verticlal-rl;
  writing-mode: vertical-rl;
  display: block; }
  .sidebyside-rtl .sidebyside-images {
    display: table-cell;
    -webkit-writing-mode: inherit;
    writing-mode: inherit; }
  .sidebyside-rtl .sidebyside-image {
    display: block;
    margin: 0;
    /* for chrome. */ }
    .sidebyside-rtl .sidebyside-image:last-child {
      padding: 0 1em 0 0; }
  @media screen and (min-height: 32em) {
    .sidebyside-rtl.sidebyside-sdl {
      -webkit-writing-mode: horizontal-tb;
      writing-mode: horizontal-tb;
      display: table;
      width: max-content;
      /* with float property. */ }
      .sidebyside-rtl.sidebyside-sdl .sidebyside-image {
        float: right; } }

.warning {
  margin: 0 1em;
  border: 0.1em solid #000;
  padding: 4em 1em 1em; }

.warning-title {
  margin: -4em 0 0.95em; }

.warning .joint {
  display: none; }

.footnote {
  margin-right: 1.5em; }
  .footnote + * {
    margin-right: 1.5em; }
  .footnote p {
    font-size: 0.8em;
    margin-top: 2.25em;
    line-height: 1.5; }
  .footnote .referer {
    margin: -3.25em 0 1em; }

.noteref-wrap {
  font-size: 0.75em; }
  .noteref-wrap .noteref, .noteref-wrap .tcy {
    vertical-align: top; }
  .noteref-wrap .joint {
    display: none; }

.example {
  border: 0.0625em solid #000;
  padding: 1em; }

figure.zoom img {
  -ms-zoom: 0.32;
  zoom: 0.32; }

.nav-toc,
footer {
  -webkit-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
  position: fixed;
  bottom: 0.5em;
  font-size: 0.85em; }

.nav-toc {
  font-size: 0.8em;
  right: calc(2em / 0.8); }
  .nav-toc h2 {
    font-family: 'Yu Gothic Custom', sans-serif;
    font-size: inherit;
    font-weight: normal;
    margin: 0; }
  .nav-toc .ch2-label {
    display: inline-block;
    font-size: inherit; }
  .nav-toc strong {
    font-weight: normal; }
  .nav-toc ol {
    display: none; }
  .nav-toc:target {
    background: #DFDFDF;
    right: 0;
    padding: 1em; }
    .nav-toc:target ol {
      display: block;
      margin: 0.5em 0 0;
      padding: 0; }
  .nav-toc li {
    list-style: none;
    font-family: 'Yu Gothic Custom', sans-serif; }

footer {
  font-size: 0.8em;
  left: calc(2em / 0.8); }
  footer p {
    font-family: 'Yu Gothic Custom', sans-serif;
    text-indent: 0; }

table {
  border-collapse: collapse; }

th, td {
  font-size: 0.875em; }

.table {
  display: table;
  margin-top: auto;
  margin-bottom: auto; }
  .table figcaption {
    display: table-caption;
    caption-side: top;
    margin: 0 0 0 0.4em; }
  .table table {
    border-right: #444 solid 0.125em;
    border-left: #444 solid 0.0625em; }
  .table th {
    border-left: #444 solid calc(0.0625em / 0.875);
    padding: 1em 0.25em; }
    .table th:first-child {
      padding-top: 2em; }
    .table th:last-child {
      padding-bottom: 2em; }
  .table td {
    padding: 1em 0.25em; }
    .table td:first-child {
      padding-top: 2em; }
    .table td:last-child {
      padding-bottom: 2em; }

.table-horizontal {
  -webkit-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
  margin-top: auto;
  margin-bottom: auto;
  display: table; }
  .table-horizontal table {
    border-top: #444 solid 0.125em;
    border-bottom: #444 solid 0.0625em; }
  .table-horizontal th {
    padding: 0.25em 1em;
    border-bottom: #444 solid calc(0.0625em / 0.875); }
    .table-horizontal th:first-child {
      padding-left: 2em; }
    .table-horizontal th:last-child {
      padding-right: 2em; }
  .table-horizontal td {
    padding: 0.25em 1em; }
    .table-horizontal td:first-child {
      padding-left: 2em; }
    .table-horizontal td:last-child {
      padding-right: 2em; }
  .table-horizontal figcaption {
    display: table-caption;
    caption-side: top;
    margin: 0 0 0.4em 0; }
  .table-horizontal .fc-title {
    margin: 0 0.25em 0 0; }

/*# sourceMappingURL=vertical.css.map */
