main, div, p {
  -ms-writing-mode: tb-rl; }

html {
  height: -moz-calc(100%); }

body {
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  margin: 0;
  width: -moz-calc(100vw);
  height: -moz-calc(100%); }

.runninghead-left,
.runninghead-right {
  font-size: 0.8em;
  line-height: 1;
  font-weight: normal;
  position: fixed;
  -webkit-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb; }

.runninghead-left {
  top: 0;
  left: 0;
  margin: 1.5em 0 0 2em; }

.runninghead-right {
  top: 0;
  right: 0;
  margin: 1.5em 2em 0 0; }
  .runninghead-right strong {
    margin-left: 0.5em;
    font-weight: normal; }

main {
  padding: 3.5em 2em;
  background: url(../image/background2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

.page {
  height: 32em; }

@font-face {
  font-family: 'Yu Mincho Custom';
  src: local("Times New Roman"), local("Yu Mincho"), local("YuMincho"); }
@font-face {
  font-family: 'Yu Gothic Custom';
  src: local("Trebuchet MS"), local("Yu Gothic"), local("YuGothic"); }
p {
  font-family: 'Yu Mincho Custom', serif;
  font-size: 1em;
  font-feature-settings: 'halt', 'vhal';
  line-height: 1.8;
  text-align: justify;
  text-justify: inter-ideograph;
  overflow-wrap: break-word;
  hanging-punctuation: force-end;
  text-indent: 1em;
  margin: 0; }

.tcy {
  -ms-text-combine-horizontal: digits 2;
  text-combine-upright: all;
  text-combine-horizontal: digits 2; }

.emphasis {
  font-style: normal;
  -webkit-text-emphasis: filled;
  text-emphasis: filled; }

h1, h2, h3, h4, h6, li, dt, dd, figcaption {
  font-family: 'Yu Gothic Custom', sans-serif;
  line-height: 1.5; }

.ch2 {
  font-size: 1.3em;
  margin: 0 3em 0 1em;
  padding: 0 0.64em;
  letter-spacing: 0.05em;
  border-right: 0.1em solid #000;
  border-left: 0.1em solid #000;
  display: table;
  height: 100%; }

.ch2-label {
  -moz-text-combine-upright: all;
  text-combine-upright: all;
  display: table-cell;
  font-family: 'Times New Roman', serif;
  font-size: 1.8em;
  line-height: 1;
  height: 1em;
  padding: 0.4em 0;
  vertical-align: top; }

.ch2 strong {
  vertical-align: top;
  display: table-cell;
  text-align: justify;
  padding: 0.1em; }

.ch3 {
  font-size: 1.15em;
  margin: 0 2em 0 1em;
  border-top: 0.5em solid #666;
  padding: 0.5em 0.3em 0; }

.url {
  word-break: break-all; }

img {
  max-width: 100vw;
  max-height: 100%; }

.bfl, pre {
  margin: 0 1.5em 0 0; }

.bfl + * {
  margin-right: 1.5em; }

pre + * {
  margin-right: 1.5em; }
pre > code {
  font-family: monospace;
  display: block;
  font-size: 0.9em;
  line-height: 1.67em;
  padding: 1.11em 0.84em;
  background: #DDD;
  text-orientation: sideways;
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* for firefox */
  white-space: pre-wrap;
  /* for firefox, and line start prohibition of '"' in chrome */
  word-break: break-all; }

.image {
  max-height: 100%; }

.img-wrap img {
  display: block; }

figcaption {
  display: block;
  background: #BAB;
  font-family: sans-serif;
  font-size: 0.9em;
  margin-right: 0.25em;
  line-height: 1.35;
  text-align: justify; }

.fc-title {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.4em; }

.fc-ordinal {
  text-orientation: upright;
  /* text-combine-horizontal: digits 2; */
  /* text-combine-horizontal: all; */ }

.image-sdl .img-wrap img {
  max-width: 75vw;
  max-height: 75%; }

@media screen and (min-height: 32em) {
  .image-sdl, .tandem-sdl {
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    display: table;
    border-collapse: collapse; }

  .image-sdl .img-wrap {
    display: table-cell;
    height: intrinsic;
    height: fit-content;
    min-width: -moz-calc(13.4em * 0.9); }
    .image-sdl .img-wrap img {
      margin: 0 auto;
      max-height: -moz-calc(75vh - 6em - 0.5em); }
  .image-sdl figcaption {
    display: table-caption;
    caption-side: bottom;
    min-width: 13.4em;
    margin: 0.25em 0 0; }

  .tandem-sdl figcaption {
    display: table-caption;
    caption-side: bottom;
    min-width: 13.4em;
    margin: 0.25em 0 0; }

  .image-sdl .fc-title, .tandem-sdl .fc-title {
    margin: 0 0.4em 0 0; } }
.tandem {
  display: table;
  max-height: 100%;
  border-collapse: collapse; }

.tandem-images {
  margin-top: -1em; }

.tandem-image {
  display: table-cell;
  max-height: calc(50% - 1em);
  padding-top: 1em; }

.tandem .img-wrap img {
  max-height: 100%; }
.tandem figcaption {
  display: table-caption;
  caption-side: bottom; }

@media screen and (min-height: 36em) {
  .tandem-sdl {
    margin-top: -1em; }
    .tandem-sdl .tandem-images {
      display: table-cell;
      height: intrinsic;
      height: fit-content; }
    .tandem-sdl .tandem-image {
      display: block;
      margin: 0;
      height: min-content; }
    .tandem-sdl .img-wrap {
      height: min-content; }
      .tandem-sdl .img-wrap img {
        max-height: calc(37.5% - 1em);
        max-height: -moz-calc(42.5vh - 6em - 0.5em); } }
.sidebyside-images {
  -webkit-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
  display: table;
  max-width: 100vw;
  max-height: 100%;
  border-collapse: collapse; }

.sidebyside-image {
  display: table-cell;
  max-height: calc(50% - 1em); }
  .sidebyside-image:last-child {
    padding-left: 1em; }

.sidebyside .img-wrap img {
  max-width: calc(50vw - 1em);
  max-height: 100%; }

@media screen and (min-height: 36em) {
  .sidebyside-sdl {
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    display: table;
    max-width: 100vw;
    max-height: 100%;
    border-collapse: collapse; }
    .sidebyside-sdl sidebyside-images {
      display: table-row; }
    .sidebyside-sdl .sidebyside-image {
      display: table-cell;
      max-height: calc(50% - 1em); }
    .sidebyside-sdl figcaption {
      display: table-caption;
      caption-side: bottom;
      margin: 0.25em 0 0; } }
.sidebyside-rtl {
  direction: rtl;
  -webkit-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
  display: table;
  max-width: 100vw;
  max-height: 100%;
  border-collapse: collapse; }

.sidebyside-rtl-image {
  display: table-cell;
  max-height: calc(50% - 1em); }
  .sidebyside-rtl-image:last-child {
    padding-right: 1em; }

.sidebyside-rtl .img-wrap {
  direction: ltr; }
  .sidebyside-rtl .img-wrap img {
    max-width: calc(50vw - 1em);
    max-height: 100%; }
.sidebyside-rtl figcaption {
  direction: ltr;
  display: table-caption;
  caption-side: bottom; }

main h1 {
  margin: 0; }
  main h1 + * {
    margin-right: 1.75em; }

.warning {
  margin: 0 1em;
  padding: 3.5em 0.5em 0.5em;
  border: 0.1em solid #000; }

.warning-title {
  text-indent: 0;
  margin: -3.5em 0 0.5em; }

.warning .joint {
  display: none; }

/*# sourceMappingURL=vertical.css.map */
